

each item in BasketProducts
  .order-table__row
    .order-table__item
      .order-table__img
        .order-photo-holder
          img.cover(src=`../dummy/orders/${item.img}`)
      .order-table__info
        .order-table__name= item.title 
        .order-table__price= item.price + ' Р'
        .order-table__size= `2Размер: ${item.size} RU`
        .order-table__color= `Цвет: ${item.color}` 
        .order-table__counter.mobile-only
            input.form-item.form-item--number(type='number' min='1' max='100' step='1' value='1')

      .order-table__count
        .order-table__counter.desktop-only
          input.form-item.form-item--number(type='number' min='1' max='100' step='1' value='1')
      .order-table__price= item.price + ' РУБ.'
      .order-table__item-delete
        a.order-table-delete(href='#')  