#catalog-shop-items
  .catalog-items.row

    each item in catalogShops
      .col-12.col-md-6
        .item-shop 
          .item-shop-info
            .item-shop-title= item.name        
            .item-shop-address= item.address        
            .item-shop-time= item.time        
            .item-shop-time= item.time1        
            .item-shop-phone 
              a(href=`tel:${item.phone}`)= item.phone 
            a.link.link--black_border.show-on--map(href="shop-map.html" data-shop=item.id) Показать на карте       


