#catalog-size.size-menu.size-menu_visible1

    .basket-inner.page-inner--w2
      .size-open.size-menu__close1.size-menu__close
      .basket-menu-sections.simplebar__wrapper
        .basket-mobile-menu__header
          .size-menu__title Таблица размеров
        .basket-mobile-menu__body.simplebar
          .size-menu__text.simplebar__width
            | Этот справочник по размерам носит ориентировочный характер.
            | Если у вас уже есть похожая модель нашего бренда, размер
            | которой вам подходит, рекомендуем выбрать тот же размер.
          .size-table.simplebar__width(id='#tabNav')
            .size-items.tabs-heading
              label.active(data-tab='#size-tabs_one' data-tabs='.size-tab')
                .size-item-content
                  .size-item-title XS
              label(data-tab='#size-tabs_two' data-tabs='.size-tab')
                .size-item-content
                  .size-item-title S
              label(data-tab='#size-tabs_three' data-tabs='.size-tab')
                .size-item-content
                  .size-item-title M
              label(data-tab='#size-tabs_four' data-tabs='.size-tab')
                .size-item-content
                  .size-item-title L
              label(data-tab='#size-tabs_five' data-tabs='.size-tab')
                .size-item-content
                  .size-item-title XL
              label(data-tab='#size-tabs_six' data-tabs='.size-tab')
                .size-item-content
                  .size-item-title Рост H1
              label(data-tab='#size-tabs_seven' data-tabs='.size-tab')
                .size-item-content
                  .size-item-title Рост H2
            .tabs-content

              #size-tabs_one.tab-content-item.size-tab.active
                .table-size
                  each row in oneRows
                    .table-size__row
                      div= row.name
                      div= row.size
              #size-tabs_two.tab-content-item.size-tab
                .table-size 
                  each row in twoRows
                    .table-size__row
                      div= row.name
                      div= row.size
              #size-tabs_three.tab-content-item.size-tab
                .table-size 
                  each row in threeRows
                    .table-size__row
                      div= row.name
                      div= row.size
              #size-tabs_four.tab-content-item.size-tab
                .table-size 
                  each row in fourRows
                    .table-size__row
                      div= row.name
                      div= row.size
              #size-tabs_five.tab-content-item.size-tab
                .table-size 
                  each row in fiveRows
                    .table-size__row
                      div= row.name
                      div= row.size

              #size-tabs_six.tab-content-item.size-tab
                .table-size 
                  each row in sixRows
                    .table-size__row
                      div= row.name
                      div= row.size
              #size-tabs_seven.tab-content-item.size-tab
                .table-size 
                  each row in sevenRows
                    .table-size__row
                      div= row.name
                      div= row.size

          .size-menu__title.size-menu__title_left.simplebar__width Как снять мерки для себя
          .size-img.simplebar__width
            img(src='../dummy/SizeGuide.jpg' alt='Как снять мерки для себя')          
